body {
    font-family: system-ui, -apple-system, lexend, roboto;
    background-color: #191d26;
    color: #ffffff;
    margin: 0px;
}

#hero {
    background-color: #12151c;
    padding: 10px;
    min-height: 650px;
    display: flex;
}

#hero h2 {
    color: #d90808;
    font-size: 50px;
}

#hero h1 {
    font-size: 80px;
    margin: 20px;
}

#hero h3 {
    font-size: 30px;
}

#hero button {
    background-color: #531516;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    outline: none;
    border: none;
    min-width: 400px;
}

#hero-left {
    max-width: 1100px;
    flex-grow: 1;
}

#hero-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#hero-right #contact-button {
    text-decoration-style: solid;
}

#hero-right #see-more-button {
    text-decoration-style: solid;
}

nav {
    display: flex;
    padding: 30px 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

#name {
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#other-links {
    display: flex;
    margin-left: auto;
    gap: 60px;
    justify-content: center;
    align-items: center;
}



