html {
  scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, lexend, roboto;
    background-color: #191d26;
    color: #ffffff;
    margin: 0px;
}

#hero {
    background-color: #12151c;
    padding: 10px;
    min-height: 650px;
    display: flex;
}

@media (max-width: 900px) {
  #hero {
    flex-direction: column;
  }
}

#hero h2 {
    color: #d90808;
    font-size: 50px;
}

#hero h1 {
    font-size: 80px;
    margin: 20px;
}

#hero h3 {
    font-size: 30px;
}

#hero button {
    background-color: #531516;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    outline: none;
    border: none;
    min-width: 400px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    transition: transform 0.2s ease-in-out;

}

#hero button a {
    text-decoration-line: none;
    color: #ffffff;
}

#hero-left {
    max-width: 1100px;
    flex-grow: 1;
}

#hero-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#hero-right #contact-button {
    text-decoration-style: solid;
}

#hero-right #see-more-button {
    text-decoration-style: solid;
}

nav {
    display: flex;
    padding: 30px 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

#other-links {
    display: flex;
    margin-left: auto;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.hamburger-button {
  display: none;
  border: none;
}

@media (max-width: 900px) {
  .hamburger-button {
    display: block;
        align-self: center;
        width: 45px;
        height: 45px;
        margin-left: auto;
  }

  #other-links {
    display: none;
  }
  #other-links.active {
    display: flex;
    flex-direction: column;
  }
}

#name {
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#about {
    text-align: center;
    justify-content: center;
    padding: 50px 15%;
}

#professionalexp {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px 5%;
}

#exp-red-area-title {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
}

#exp-red-area-title, h1 {
    font-size: 30px;
}

#exp-red-area-timeframe {
    text-align: left;
    justify-content: left;
    font-weight: bold;
}
#exp-red-area-main-content {
    display: flex;

}

#exp-red-area-description-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#exp-red-area-image-right {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

#exp-red-area-image-right img {
    max-width: 80%;
    max-height: 80%;
}

#exp-red-area {
    background-image: linear-gradient(to right, #661b1c , #702c2dff);
    border-radius: 80px;
    padding: 1% 1%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
}

#projects {
    text-align: center;
    font-weight: bold;
    padding: 20px 5%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.project-card {
    flex: 0 0 40%;
    padding: 10px;
    background-image: linear-gradient(to right, #661b1c , #702c2dff);
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
    min-height: 700px;
    width: 100%;
    position: relative
}

.project-image img {
    max-width: 100%;
    object-fit: contain
    overflow: hidden;
}


.project-category {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #531516;
    border-radius: 12px;
    padding: 2px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    opacity: 0.8;
}

.project-description p {
    font-weight: normal;
    display: inline-block
    line-height: 1.6
}

@media (max-width: 900px) {
  #row-one {
    flex-direction: column;
    gap: 30px;
  }

  #project-one, #project-two {
    width: 100%;
  }

}

.project-card button {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    background-color: #1b222c;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
  background-color: #3a3f46;
  transform: translateY(-2px);
  transition: background-color 0.2s ease;
  transform: scale(1.03);
}


#skills {
 text-align: center;
}

#skills {
 text-align: center;
}

.technical-skill-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.technical-skill-container {
  flex: 0 0 30%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.9);
}

@media (max-width: 600px) {
    .technical-skill-container {
        flex: 0 0 40%;
    }
}


.technical-skill-title {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #661b1c , #702c2dff);
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.technical-skill-content ul {
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

#education {
    text-align: center;
}

#education {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px 5%;
}

#education-area {
    background-image: linear-gradient(to right, #661b1c , #702c2dff);
    border-radius: 80px;
    padding: 1% 1%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
}

#education-title-and-year {
    display: flex;
}

#education-degree-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 20px;
}

#education-degree-year {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    background-color: #531516;
    border-radius: 80px;
}

#education-degree-location-and-gpa, #education-degree-key-coursework {
    padding: 2% 2%;
    font-size: 25px;
    text-align: left;
}

#education-degree-key-coursework {
    padding: 2% 2%;
    font-size: 15px;
    text-align: left;
}

.education-degree-key-coursework-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.education-degree-key-coursework-card {
    flex: 0 0 20%;
    background-color: #1b222c;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 80px;
}

@media (max-width: 900px) {
    .education-degree-key-coursework-card {
        flex: 0 0 30%;
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .education-degree-key-coursework-card {
        flex: 0 0 40%;
        font-size: 8px;
    }
}

#contact {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px 5%;
}

#contact-area {
    padding: 20px 5%;
    background-image: linear-gradient(to right, #661b1c , #702c2dff);
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #12151c;
    text-align: center;
    padding: 10px 3%;
    font-size: 18px;
    font-weight: bold;
}

